@{
    ViewData["Title"] = "Inicio de Sesión";
}

<div class="container my-5 pt-5">
    <div class="card text-center container" style="width: 500px; height: 100%;">
        <div class="card-header">
            <h5 class="card-title">Inicio de Sesión</h5>
        </div>
        <div class="card-body">
            <form method="post" action="@Url.Action("Login", "Autenticacion")">
                @Html.AntiForgeryToken()
                <!-- Contenido del formulario de inicio de sesión -->

                <label class="card-title" for="correo">Usuario o Correo</label>
                <input name="correo" id="correo" class="form-control" type="text">

                <br>
                <label for="clave" class="form-label">Password</label>
                <input name="contrasena" id="contrasena" type="password" class="form-control" aria-describedby="passwordHelpBlock">

                <br>
                <button type="submit" class="btn btn-dark justify-content-end my-5 mx-5">Iniciar Sesión</button>
                <button class="btn btn-dark justify-content-end my-5 mx-5" asp-action="registro" asp-controller="registro">Registrarse</button>
            </form>
            <!-- Mensaje de error -->
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
        </div>
    </div>
</div>